@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Arsenal Stats Application</h1>

    <p>This is my Test App for Arsenal Players and Fixtures.</p>
    
    <a href="/players">Players Stats</a>
    <a href="/matches">Results and Fixtures</a>
</div>
