@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site is a personal portfolio/test project. I don’t collect, sell, or share your personal information. </p>
    <p>Some basic technical data (like your browser type, IP address, or which pages you visit) may be logged automatically by the hosting provider (Azure) for performance and security purposes. I don’t use this data for anything beyond keeping the site running smoothly.</p>
